// Fonts
@font-face {
    font-family: 'Marydale-bold';
    src: url('./fonts/Marydale\ Bold.ttf') format('truetype'),
    url('./fonts/Marydale\ Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Marydale-regular';
    src: url('./fonts/Marydale\ Regular.ttf') format('truetype'),
    url('./fonts/Marydale\ Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Open-sans';
    src: url('./fonts/Open\ Sans\ Bold.ttf') format('truetype'),
    url('./fonts/Open\ Sans\ Bold.woff') format('woff');
  }


  @keyframes diagonalLeftRight {
    0%, 100% {
      transform: translate(100px, 100px);
    }
    50% {
      transform: translate(0px, 0px);
    }
  }
  
  @keyframes backAndForth {
    0%, 100% {
      transform: translate(-30%, 0px);
    }
    50% {
      transform: translate(15%, 0px);
    }
  }

  @keyframes backAndForth-right {
    0%, 100% {
      transform: translate(-60%, 0px);
    }
    50% {
      transform: translate(5%, 0px);
    }
  }
  
  @keyframes rotate-then-back {
    0%, 100% {transform: rotate(-30deg);}
    50% {transform: rotate(30deg);}
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

// Colors :
$ntnublue: #005BA7;
$miljogreen: #0FA15C;

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

// Body
body {
  margin: 0;
}

// drawing  
.body-draw {
  margin: 5% 10%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.moon--drawing {
  width: 30vw;
}

.moon--temp {
  opacity: 0.5;
}

.item {
  // background-color: #B4B6B7;
  background-color: #EAEAE9;
  width: 30vw;
  // border-radius: 260% 320% 315%;
  // border-radius: 360% 380% 375% 420%;
  border-radius: 360% 380% 335% /360%;
  border: 4px solid black;

}
//

// end of drawing


// End of body

// Commons 


// End of commons

// White wave
.header--white-wave {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;

  &__item {
    position: absolute;
    top: 0;
    z-index: 6;
    padding-left: 5vw;
    padding-top: 1.3vw;
  }

  &__title {
      font-family: 'Open-sans';
      font-size: 4vw;
      color: $ntnublue;
      margin-bottom: 0;
      
      &--green {
          color: $miljogreen;
      }
    }

    &__subtitle {
      font-family: 'Marydale-regular';
      font-size: 1.95vw;
      line-height: 1.1;
    }
}
// End of white wave


// Blue wave
.cont--blue-wave {
  position: absolute;
  top: 11vw;
  z-index: 4;
  width: 100%;

  &__img {
    position: relative;
  }

  &__text {
    font-family: 'Marydale-bold';
    position: absolute;
    top: 17.1vw;
    font-size: 2.5vw;
    padding-left: 5vw;
    color: white;
    line-height: 1.1;
  }

  &__figure {
    position: absolute;
    right: 3vw;
    top: 8.3vw;
    padding-right: 8.5vw;
  }
}

.moon {
  position: relative;
  left: 0vw;
  width: 25vw;
  animation: rotate-then-back 6s ease-in-out infinite;
}

.bigstar {
  position: absolute;
  top: -4.6vw;
  right: 6vw;
  width: 6.5vw;
  animation: spin 6s infinite;
}


.star {
  position: absolute;
  top: 4.9vw;
  right: 2vw;
  width: 4.5vw;
  animation: spin 4s linear infinite;
}
// End of Blue wave


// Lightblue wave
.cont--lightblue-wave {
  position: absolute;
  top: 38vw;
  width: 100%;
  height: auto;
  
  &__img {
    z-index: 3;
    position: relative;
  }

  // Car svg
  &__icon--car {
    position: absolute;
    top: 3vw;
    width: 55vw;
    padding-left: 5vw;
    z-index: 4;
  }
}
// End of Lightblue wave


// Lightred "wave" 
.cont--lightred-wave {
  position: relative;
  top: 40vw;
  width: 100%;
  height: auto;
  
  &__img {
    z-index: 2;
  }

  //kids svg
  &__item {
    z-index: 4;
    position: absolute;
    top: -12.5vw;
    left: 10vw;
    right: auto;
    width: 79vw;
  }
}

// GreenGuys 
.greenguy {
  position: absolute;
  top: 0;

  &--small {
    width: 4.5vw;
    animation: bounce 4s linear infinite;
  }

  &--medium {
    width: 5.5vw;
    animation: bounce 2s linear infinite;
  }

  &--large {
    width: 9.6vw;
    animation: bounce 3s linear infinite;
  }
}

.greenguy:hover{
  animation: spin 0.5s linear infinite;
}

#gg-1 {
  top: 13.5vw;
}

#gg-2 {
  top: 16.5vw;
  left: 23.5vw;
}

#gg-3 {
  top: 4vw;
  left: 18.6vw;
}

#gg-4 {
  top: 1.5vw;
  left: 46vw;
}

#gg-5 {
  top: -3.5vw;
  left: 64vw;
}

#gg-5 {
  top: -3.5vw;
  left: 64vw;
}

#gg-6 {
  top: 14.7vw;
  right: -2vw;
}
// End of GreenGuy (rip the hulk)

// Earth
.cont--earth {
  position: absolute;
  top: 87.8vw;
  width: 100%;
  height: auto;
  z-index: 2;

  &__img{
    position: relative;
  }

  &__title{
    font-family: 'Marydale-bold';
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center; 
    font-size: 6vw;
    }
}
// end of lightred-wave

.cont--eye{
  position: absolute;
  z-index: 10;
  top: 30vw;
  height: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  max-width: 60%;
}

.cont--eye-left{
  display: flex;
  height: 100%;
  max-width: 50%;
  padding: 0;

  &--eye{
    position: relative;
    max-width: 65%;
    left: 3vw;
    bottom: 2vw;
  }
  &--eyeball{
    position: absolute;
    top: 15%;
    left: 13%;
    max-width: 12%;
    animation: backAndForth 8s infinite;
}
}

.cont--eye-right {
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 50%;

  &--eye{
    position: relative;
    max-width: 53%;
    padding: 0;
    bottom: 1vw;
  }

  &--eyeball{
    position: absolute;
    top: 24%;
    right: 10.3%;
    max-width: 5.4vw;
    animation: backAndForth-right 8s infinite;
}
}

// eyes

// End of Eye 

// End of Earth (WHAT?!)
// End of Lightred "wave"


// Footer
.footer {
  position: absolute;
  top: 130.5vw;
  z-index: 5;
  width: 100%;

  &__img {
    width: 25vw;
  }

  &__link {
    display: flex;
    justify-content: flex-end;
  }
}

// White Footer
.footer--white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;

  &__text {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    text-align: left;
    font-family: 'Marydale-bold';
  }
}
// End of White Footer

// Blue Footer
.footer--blue {
  background-color: $ntnublue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vw;

  &__img {
    width: 30vw;
  }
  
  &__item {
    padding: 2vw;
    
    &--divider {
      z-index: 5;
    }
  }
  
  &__link {
    color: rgb(255, 255, 255);
    font-family: 'Marydale-bold';
    text-decoration: none;
    font-size: 1vw;
    text-align: right;
  }
}

// End of Blue Footer
// End of Footer
