@font-face {
  font-family: "Marydale-bold";
  src: url("./fonts/Marydale Bold.ttf") format("truetype"), url("./fonts/Marydale Bold.woff") format("woff");
}
@font-face {
  font-family: "Marydale-regular";
  src: url("./fonts/Marydale Regular.ttf") format("truetype"), url("./fonts/Marydale Regular.woff") format("woff");
}
@font-face {
  font-family: "Open-sans";
  src: url("./fonts/Open Sans Bold.ttf") format("truetype"), url("./fonts/Open Sans Bold.woff") format("woff");
}
@keyframes diagonalLeftRight {
  0%, 100% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(0px, 0px);
  }
}
@keyframes backAndForth {
  0%, 100% {
    transform: translate(-30%, 0px);
  }
  50% {
    transform: translate(15%, 0px);
  }
}
@keyframes backAndForth-right {
  0%, 100% {
    transform: translate(-60%, 0px);
  }
  50% {
    transform: translate(5%, 0px);
  }
}
@keyframes rotate-then-back {
  0%, 100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
body {
  margin: 0;
  padding: 0 100px;
}

* {
  box-sizing: border-box;
}

#poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 841px;
  width: 594px;
  background-color: #E8C6C6;
}

.body-draw {
  margin: 5% 10%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.moon--drawing {
  width: 30vw;
}

.moon--temp {
  opacity: 0.5;
}

.item {
  background-color: #EAEAE9;
  width: 30vw;
  border-radius: 360% 380% 335%/360%;
  border: 4px solid black;
}

.header--white-wave {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;
}
.header--white-wave__item {
  position: absolute;
  top: 0;
  z-index: 6;
  padding: 10px 0 0 20px;
}
.header--white-wave__title {
  margin: 0;
  font-family: "Open-sans";
  font-size: 28px;
  color: #005BA7;
}
.header--white-wave__title--green {
  color: #0FA15C;
}
.header--white-wave__subtitle {
  font-family: "Marydale-regular";
  font-size: 16px;
  line-height: 1.1;
}

.white-wave__img {
  position: absolute;
  top: 0;
}

.cont--blue-wave {
  position: absolute;
  top: 60px;
  z-index: 4;
  width: 100%;
}
.cont--blue-wave__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
}
.cont--blue-wave__img {
  position: absolute;
  top: 0;
}
.cont--blue-wave__text {
  font-family: "Marydale-bold";
  position: absolute;
  color: white;
  line-height: 1.1;
}
.cont--blue-wave__figure {
  position: absolute;
  top: 40px;
  width: 210px;
  right: 20px;
}

.moon {
  width: 150px;
  animation: rotate-then-back 6s ease-in-out infinite;
}

.bigstar {
  position: absolute;
  top: -10px;
  width: 60px;
  animation: spin 6s infinite;
}

.star {
  position: absolute;
  top: 50px;
  width: 40px;
  animation: spin 4s linear infinite;
}

.cont--lightblue-wave {
  position: relative;
  top: 210px;
  width: 100%;
  height: 400px;
}
.cont--lightblue-wave__img {
  z-index: 3;
  position: absolute;
  top: 0;
}
.cont--lightblue-wave__icon--car {
  position: absolute;
  top: -20px;
  width: 280px;
  padding-left: 5vw;
  z-index: 4;
}

.cont--lightred-wave {
  position: relative;
  width: 100%;
  height: 500px;
}
.cont--lightred-wave__img {
  z-index: 2;
}
.cont--lightred-wave__item {
  z-index: 4;
  position: absolute;
  top: -120px;
  width: 100%;
}
.cont--lightred-wave__icon--kids {
  width: 100%;
}

.greenguy {
  position: absolute;
  top: 0;
}
.greenguy--group {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 1000;
}
.greenguy--small {
  width: 4.5vw;
  animation: bounce 4s linear infinite;
}
.greenguy--medium {
  width: 5.5vw;
  animation: bounce 2s linear infinite;
}
.greenguy--large {
  width: 9.6vw;
  animation: bounce 3s linear infinite;
}

.greenguy:hover {
  animation: spin 0.5s linear infinite;
}

#gg-1 {
  top: 0;
}

#gg-2 {
  top: 0;
  left: 0;
}

#gg-3 {
  top: 0;
  left: 0;
}

#gg-4 {
  top: 0;
  left: 0;
}

#gg-5 {
  top: 0;
  left: 0;
}

#gg-5 {
  top: 0;
  left: 0;
}

#gg-6 {
  top: 0;
  right: 0;
}

.cont--earth {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.cont--earth__img {
  width: 100%;
}
.cont--earth__title {
  font-family: "Marydale-bold";
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 16px;
}

.cont--eye {
  position: absolute;
  z-index: 10;
  bottom: -30px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60%;
  z-index: 3;
}

.cont--eye-left {
  display: flex;
  height: 100%;
  width: 150px;
  padding: 0;
}
.cont--eye-left--eye {
  position: relative;
  max-width: 60%;
  left: 3vw;
  bottom: 2vw;
}
.cont--eye-left--eyeball {
  position: absolute;
  top: 15%;
  left: 13%;
  max-width: 30px;
}

.cont--eye-right {
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 50%;
}
.cont--eye-right--eye {
  position: relative;
  max-width: 53%;
  padding: 0;
  bottom: 1vw;
}
.cont--eye-right--eyeball {
  position: absolute;
  top: 24%;
  right: 10.3%;
  max-width: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  margin: 0;
  font-size: 8px;
}
.footer__img {
  width: 25vw;
}
.footer__link {
  display: flex;
  justify-content: flex-end;
}

.footer--white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  height: 25px;
}
.footer--white__text {
  margin: 0;
  font-size: 6.5px;
  padding: 0 30px;
  text-align: left;
  font-family: "Marydale-bold";
  width: 100%;
}

.footer--blue {
  background-color: #005BA7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
}
.footer--blue__img {
  width: 200px;
}
.footer--blue__item--divider {
  z-index: 5;
}
.footer--blue__link {
  color: rgb(255, 255, 255);
  font-family: "Marydale-bold";
  text-decoration: none;
  text-align: right;
}/*# sourceMappingURL=style.css.map */