// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
@font-face {
    font-family: 'Marydale-bold';
    src: url('./fonts/Marydale\ Bold.ttf') format('truetype');
    src: url('./fonts/Marydale\ Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Marydale-regular';
    src: url('./fonts/Marydale\ Regular.ttf') format('truetype');
    src: url('./fonts/Marydale\ Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Open-sans';
    src: url('./fonts/Marydale\ Bold.ttf') format('truetype');
    src: url('./fonts/Marydale\ Bold.woff') format('woff');
  } 


