@font-face {
  font-family: "Marydale-bold";
  src: url("./fonts/Marydale Bold.ttf") format("truetype"), url("./fonts/Marydale Bold.woff") format("woff");
}
@font-face {
  font-family: "Marydale-regular";
  src: url("./fonts/Marydale Regular.ttf") format("truetype"), url("./fonts/Marydale Regular.woff") format("woff");
}
@font-face {
  font-family: "Open-sans";
  src: url("./fonts/Open Sans Bold.ttf") format("truetype"), url("./fonts/Open Sans Bold.woff") format("woff");
}
@keyframes diagonalLeftRight {
  0%, 100% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(0px, 0px);
  }
}
@keyframes backAndForth-left {
  0%, 100% {
    transform: translate(-30%, 0px);
  }
  50% {
    transform: translate(10%, 0px);
  }
}
@keyframes backAndForth-right {
  0%, 100% {
    transform: translate(-60%, 0px);
  }
  50% {
    transform: translate(5%, 0px);
  }
}
@keyframes rotate-then-back {
  0%, 100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
body {
  padding: 0px 100px;
}

@media (max-width: 760px) {
  body {
    padding: 0;
  }
}
* {
  box-sizing: border-box;
}

#poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 841px;
  width: 594px;
  background-color: rgba(199, 113, 97, 0.36);
}

.header--white-wave {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;
}
.header--white-wave__item {
  position: absolute;
  top: 0;
  z-index: 6;
  padding: 30px 0 0 30px;
}
.header--white-wave__title {
  margin: 0;
  font-family: "Open-sans";
  font-size: 24px;
  color: #005BA7;
}
.header--white-wave__title--green {
  color: #0FA15C;
}
.header--white-wave__subtitle {
  font-family: "Marydale-regular";
  font-size: 12px;
  line-height: 1.3;
}

.white-wave__img {
  position: absolute;
  top: 0;
}

.cont--blue-wave {
  position: absolute;
  top: 60px;
  z-index: 4;
  width: 100%;
}
.cont--blue-wave__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
}
.cont--blue-wave__img {
  position: absolute;
  top: 0;
}
.cont--blue-wave__text {
  font-family: "Marydale-bold";
  font-size: 10.5pt;
  position: absolute;
  color: white;
  top: 110px;
  line-height: 1.1;
  z-index: 5;
  padding-left: 30px;
}
.cont--blue-wave__figure {
  position: absolute;
  top: 50px;
  width: 210px;
  right: 0px;
}

.moon {
  width: 135px;
  animation: rotate-then-back 6s ease-in-out infinite;
}

.bigstar {
  position: absolute;
  top: -20px;
  right: 45px;
  width: 43px;
  animation: spin 6s infinite;
}

.star {
  position: absolute;
  top: 40px;
  width: 30px;
  right: 20px;
  animation: spin 4s linear infinite;
}

.cont--lightblue-wave {
  position: relative;
  width: 100%;
  height: auto;
}
.cont--lightblue-wave__img {
  z-index: 3;
  position: absolute;
  top: 10px;
}
.cont--lightblue-wave__icon--car {
  position: absolute;
  top: 70px;
  width: 350px;
  padding-left: 30px;
  z-index: 4;
}

.cont--lightred-wave {
  position: relative;
  width: 100%;
  height: 500px;
}
.cont--lightred-wave__img {
  z-index: 2;
}
.cont--lightred-wave__item {
  z-index: 4;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12px;
  width: 100%;
}
.cont--lightred-wave__icon--kids {
  width: 70%;
  z-index: 5;
}
.cont--lightred-wave__icon--arm {
  position: absolute;
  width: 40px;
  bottom: 100px;
  left: 60px;
  z-index: 3;
}

.greenguy {
  position: absolute;
}
.greenguy--group {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 175px;
  z-index: 100;
}
.greenguy--small {
  width: 25px;
  animation: bounce 4s linear infinite;
}
.greenguy--medium {
  width: 38px;
  animation: bounce 2s linear infinite;
}
.greenguy--large {
  width: 60px;
  animation: bounce 3s linear infinite;
}

.greenguy:hover {
  animation: spin 0.5s linear infinite;
}

#gg-1 {
  bottom: 35px;
  left: 55px;
}

#gg-2 {
  bottom: 20px;
  left: 190px;
}

#gg-3 {
  bottom: 80px;
  left: 160px;
}

#gg-4 {
  top: 10px;
  right: 200px;
}

#gg-5 {
  top: -25px;
  right: 130px;
}

#gg-6 {
  bottom: 30px;
  right: 75px;
}

.cont--earth {
  position: absolute;
  bottom: 55px;
  width: 100%;
  z-index: 2;
}
.cont--earth__img {
  width: 100%;
}
.cont--earth__title {
  font-family: "Marydale-bold";
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 34px;
}

.cont--eye {
  position: absolute;
  z-index: 10;
  bottom: -30px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60%;
  z-index: 3;
}

.cont--eye-left {
  display: flex;
  height: 100%;
  width: 150px;
  padding: 0;
}
.cont--eye-left--eye {
  left: 10px;
  position: relative;
  max-width: 60%;
  bottom: 20px;
}
.cont--eye-left--eyeball {
  position: absolute;
  top: 42px;
  left: 45px;
  max-width: 47px;
  animation: backAndForth-left 8s infinite;
}

.cont--eye-right {
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 50%;
  left: 10px;
}
.cont--eye-right--eye {
  position: relative;
  max-width: 53%;
  padding: 0;
  bottom: 10px;
  left: 20px;
}
.cont--eye-right--eyeball {
  position: absolute;
  top: 52px;
  right: 28px;
  max-width: 38px;
  animation: backAndForth-right 8s infinite;
}

.qr-code {
  z-index: 10;
  width: 50px;
  position: absolute;
  bottom: 70px;
  left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  margin: 0;
  font-size: 8px;
}
.footer__img {
  width: 25vw;
}
.footer__link {
  display: flex;
  justify-content: flex-end;
}

.footer--white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  height: 25px;
}
.footer--white__text {
  margin: 0;
  font-size: 6.5px;
  padding: 0 30px;
  text-align: left;
  font-family: "Marydale-bold";
  width: 100%;
}

.footer--blue {
  background-color: #005BA7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 0 20px;
}
.footer--blue__img {
  width: 200px;
}
.footer--blue__item--divider {
  z-index: 5;
}
.footer--blue__link {
  color: rgb(255, 255, 255);
  font-family: "Marydale-bold";
  text-decoration: none;
  font-size: 5pt;
}/*# sourceMappingURL=style.css.map */